<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuqWW9zZRsHjRuUJNzrcqkD8esPhgTsmA</string>
	<key>GCM_SENDER_ID</key>
	<string>796449605451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarbelanja.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>first-app-98ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-98ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796449605451:ios:1d656e0c86d131df6f8ace</string>
</dict>
</plist>